/*
Highlight Favourites
based on Hahaido's mod
Last update: 2024-Jan-12
*/

.animetitle span {
	display: inline-block;
}

tr:has([id^="tagLinks"] [href$="=Favourite"]) .animetitle span::first-letter {
	font-size: 15px;
	color: #f2a603;
	font-weight: bold;
	letter-spacing: 2px;
	text-shadow: 0 1px #f11c26, 0 -1px #FFFFFF;
}