/* Chelsea */

#mal\_control_strip:before { background: url(https://i.imgur.com/L9nZIA3.png) /* lines_c.png */ no-repeat; }

#mal\_cs_otherlinks div a[href*="login"]:before, #mal\_cs_listinfo div:last-of-type a:before, #mal\_cs_listinfo div:first-of-type a:before, 
#mal_cs_links div a[href*="addtolist"]:before,  #mal\_cs_links div:last-of-type a:last-of-type:before {
	background-image: url(https://i.imgur.com/OdLCB5d.png) /* top_bg_c.png */;
}

#list_surround > table:first-of-type:before { background-image: url(https://i.imgur.com/EIQAbCz.png) /* logo_c.png */; }

.status_selected a, .status_not_selected a,
.status_selected a:before, .status_not_selected a:before { border-color: #e69383; }

.status_selected a, .status_not_selected a:hover,
.status_selected a:before, .status_not_selected a:hover:before { background-color: rgb(230, 147, 131); }

.status_selected a:after, .status_not_selected a:hover:after {
	background: url(https://i.imgur.com/A5IvXUA.png) /* arrow_c.png */ no-repeat;
}

/* Custom cursor */
a, body { cursor: url(https://i.imgur.com/tfj9dwn.png) /* cursor_c.png */ 1 1, auto; }

body { color: #e69383; }

a { color: #e69383; }

td[class^='td'][width="45"], td[class^='td'][width="45"] a { color: #e69383; }

.table_header { background-color: rgb(230, 147, 131)  !important; } 

.table_header:last-child, td[class^='td']:last-child { box-shadow: 1px 0  0 #e69383; }

tr:hover td[class^='td']:first-child:before {
	background: url(https://i.imgur.com/A5IvXUA.png) /* arrow_c.png */ no-repeat;
}

/* Headers pics */
.header_cw span, .header_completed span, .header_onhold span, .header_dropped span, .header_ptw span {
	background-image: url(https://i.imgur.com/oHHuypk.png) /* headers_bg_c.png */;
}

/* CURRENTLY WATCHING BACKGROUND */
.status_selected:first-child {
	background-image: url(https://i.imgur.com/qsmOCp6.jpg) /* watching_c.jpg */;
}

/* COMPLETED BACKGROUND */
.status_selected:nth-child(2) {
	background-image: url(https://i.imgur.com/6yGjNWS.jpg) /* completed_c.jpg */;
}

/* ON-HOLD BACKGROUND */
.status_selected:nth-child(3) {
	background-image: url(https://i.imgur.com/GIItBX2.jpg) /* onhold_c.jpg */;
}

/* DROPPED BACKGROUND */
.status_selected:nth-child(4) {
	background-image: url(https://i.imgur.com/Cldrybz.jpg) /* dropped_c.jpg */;
}

/* PLANNED BACKGROUND */
.status_selected:nth-child(5) {
	background-image: url(https://i.imgur.com/W83w2Pa.jpg) /* planned_c.jpg */;
}

/* ALL BACKGROUND */
.status_selected:last-child {
	background-image: url(https://i.imgur.com/Ml3Fgfc.jpg) /* all_c.jpg */;
}

#mal\_cs_otherlinks div a[href*="login"]:after, #mal\_cs_listinfo div:last-of-type a:after, #mal\_cs_listinfo div:first-of-type a:after, 
#mal_cs_links div a[href*="addtolist"]:after,  #mal\_cs_links div:last-of-type a:last-of-type:after,
#copyright, #copyright a { text-shadow: 1px 1px #cc736d; }