/* Esdese */

#mal\_control_strip:before { background: url(https://i.imgur.com/OciaSFN.png) /* lines_e.png */ no-repeat; }

#mal\_cs_otherlinks div a[href*="login"]:before,
#mal\_cs_listinfo div:last-of-type a:before,
#mal\_cs_listinfo div:first-of-type a:before, 
#mal_cs_links div a[href*="addtolist"]:before,
#mal\_cs_links div:last-of-type a:last-of-type:before {
	background-image: url(https://i.imgur.com/uSwKdnh.png) /* top_bg_e.png */;
}

#list_surround > table:first-of-type:before { background-image: url(https://i.imgur.com/uSwKdnh.png) /* logo_e.png */; }

.status_selected a, .status_not_selected a,
.status_selected a:before, .status_not_selected a:before { border-color: #6d94e1; }

.status_selected a, .status_not_selected a:hover,
.status_selected a:before, .status_not_selected a:hover:before { background-color: rgb(109, 148, 225); }

.status_selected a:after, .status_not_selected a:hover:after {
	background: url(https://i.imgur.com/GftxS64.png) /* arrow_e.png */ no-repeat;
}

/* Custom cursor */
a, body { cursor: url(https://i.imgur.com/oMQul3c.png) /* cursor_e.png */ 1 1, auto; }

body { color: #6d94e1; }

a { color: #6d94e1; }

td[class^='td'][width="45"], td[class^='td'][width="45"] a { color: #6d94e1; }

.table_header { background-color: rgb(109, 148, 225)  !important; } 

.table_header:last-child, td[class^='td']:last-child { box-shadow: 1px 0  0 #6d94e1; }

tr:hover td[class^='td']:first-child:before {
	background: url(https://i.imgur.com/GftxS64.png) /* arrow_e.png */ no-repeat;
}

/* Headers pics */
.header_cw span, .header_completed span, .header_onhold span, .header_dropped span, .header_ptw span {
	background-image: url(https://i.imgur.com/xrIq8Rp.png) /* headers_bg_e.png */;
}

/* CURRENTLY WATCHING BACKGROUND */
.status_selected:first-child {
	background-image: url(https://i.imgur.com/GHNNgzl.jpg) /* watching_e.jpg */;
}

/* COMPLETED BACKGROUND */
.status_selected:nth-child(2) {
	background-image: url(https://i.imgur.com/lFF5Rx2.jpg) /* completed_e.jpg */;
}

/* ON-HOLD BACKGROUND */
.status_selected:nth-child(3) {
	background-image: url(https://i.imgur.com/aR54qJi.jpg) /* onhold_e.jpg */;
}

/* DROPPED BACKGROUND */
.status_selected:nth-child(4) {
	background-image: url(https://i.imgur.com/vVwVPrV.jpg) /* dropped_e.jpg */;
}

/* PLANNED BACKGROUND */
.status_selected:nth-child(5) {
	background-image: url(https://i.imgur.com/EXKdQzA.jpg) /* planned_e.jpg */;
}

/* ALL BACKGROUND */
.status_selected:last-child {
	background-image: url(https://i.imgur.com/JriYVFD.jpg) /* all_e.jpg */;
}

#mal\_cs_otherlinks div a[href*="login"]:after, #mal\_cs_listinfo div:last-of-type a:after, #mal\_cs_listinfo div:first-of-type a:after, 
#mal_cs_links div a[href*="addtolist"]:after,  #mal\_cs_links div:last-of-type a:last-of-type:after,
#copyright, #copyright a { text-shadow: 1px 1px #1c63ee; }