/*
Haikyuu by Hahaido
Modified by jery_js, Shishio-kun, and Valerio Lyndon
Last update: 2023-May-22
*/

@\import "https://yuiafterdark.github.io/shared/fixes/modern.css";
@\import "https://fonts.googleapis.com/css2?family=Monda&display=swap";

/* Category Menu */

@-webkit-keyframes Shake {
	0% { -webkit-transform: rotate(0deg); }
	10% { -webkit-transform: rotate(5deg); }
	20% { -webkit-transform: rotate(0deg); }
	30% { -webkit-transform: rotate(-5deg); }
	40% { -webkit-transform: rotate(0deg); }
	50% { -webkit-transform: rotate(5deg); }
	60% { -webkit-transform: rotate(0deg); }
	70% { -webkit-transform: rotate(-5deg); }
	80% { -webkit-transform: rotate(0deg); }
	90% { -webkit-transform: rotate(5deg); }
	100% { -webkit-transform: rotate(0deg); }
}

@keyframes Shake {
	0% { transform: rotate(0deg); }
	10% { transform: rotate(5deg); }
	20% { transform: rotate(0deg); }
	30% { transform: rotate(-5deg); }
	40% { transform: rotate(0deg); }
	50% { transform: rotate(5deg); }
	60% { transform: rotate(0deg); }
	70% { transform: rotate(-5deg); }
	80% { transform: rotate(0deg); }
	90% { transform: rotate(5deg); }
	100% { transform: rotate(0deg); }
}

.status-menu-container.fixed {
	position: fixed;
	display: block;
	top: auto;
	bottom: 10%;
}

.status-menu-container {
	position: fixed;
	right: 0;
	bottom: 10%;
	margin: 0;
	width: 154px;
	height: 324px;
	background-color: transparent;
	border: none;
	z-index: 5;
}

.status-menu-container .status-menu:after {
	pointer-events: none;
	position: absolute;
	display: block;
	content: '';
	left: -150px;
	top: -230px;
	width: 300px;
	height: 257px;
	background: url(https://i.imgur.com/TFwVAhk.png) /* category_bg.png */ no-repeat;
}

.status-menu-container .status-menu {
	display: block;
	margin: 0;
	width: 154px;
	border-collapse: separate;
	border-spacing: 0;
}

.status-menu-container .status-menu .status-button {
	position: relative;
	display: block;
	margin: 0;
	width: 154px;
	height: 54px;
	padding: 0;
	font-size: 0;
	color: transparent;
	background-image: url(https://i.imgur.com/oCyZUC0.png) /* category_buttons.png */;
	background-repeat: no-repeat;
}

.status-menu-container .status-menu .status-button:hover {
	-webkit-animation: Shake .5s ease-in;
	animation: Shake .5s ease-in;
}

.status-menu-container .status-menu .status-button.on { 
	pointer-events: none;
	color: transparent;
	font-weight: normal;
}

.status-menu-container .status-menu .status-button.all_anime, .status-menu .status-button.all_anime:hover  { background-position: 0 0; }
.status-menu-container .status-menu .status-button.watching, .status-menu .status-button.watching:hover  { background-position: 0 -54px; }
.status-menu-container .status-menu .status-button.reading, .status-menu .status-button.reading:hover  { background-position: 0 -54px; }
.status-menu-container .status-menu .status-button.completed, .status-menu .status-button.completed:hover  { background-position: 0 -108px; }
.status-menu-container .status-menu .status-button.onhold, .status-menu .status-button.onhold:hover  { background-position: 0 -162px; }
.status-menu-container .status-menu .status-button.dropped, .status-menu .status-button.dropped:hover  { background-position: 0 -216px; }
.status-menu-container .status-menu .status-button.plantowatch, .status-menu .status-button.plantowatch:hover  { background-position: 0 -270px; }
.status-menu-container .status-menu .status-button.plantoread, .status-menu .status-button.plantoread:hover  { background-position: 0 -270px; }

.status-menu-container .status-menu .status-button:after {
	opacity: 0;
	position: absolute;
	display: block;
	content: '';
	left: 0;
	top: 0;
	width: 154px;
	height: 54px;
	background-color: transparent;
	background-image: url(https://i.imgur.com/oCyZUC0.png) /* category_buttons.png */;
	background-repeat: no-repeat;
	-webkit-transition: opacity .5s linear;
	transition: opacity .5s linear;
}

.status-menu-container .status-menu .status-button.on:after, .status-menu .status-button:hover:after { opacity: 1; }

.status-menu-container .status-menu .status-button.all_anime:after, .status-menu-container .status-menu .status-button.all_anime.on:after, .status-menu .status-button.all_anime:hover:after { background-position: -154px 0; }
.status-menu-container .status-menu .status-button.watching:after, .status-menu-container .status-menu .status-button.watching.on:after, .status-menu .status-button.watching:hover:after  { background-position: -154px -54px; }
.status-menu-container .status-menu .status-button.reading:after, .status-menu-container .status-menu .status-button.reading.on:after, .status-menu .status-button.reading:hover:after  { background-position: -154px -54px; }
.status-menu-container .status-menu .status-button.completed:after, .status-menu-container .status-menu .status-button.completed.on:after, .status-menu .status-button.completed:hover:after  { background-position: -154px -108px; }
.status-menu-container .status-menu .status-button.onhold:after, .status-menu-container .status-menu .status-button.onhold.on:after, .status-menu .status-button.onhold:hover:after  { background-position: -154px -162px; }
.status-menu-container .status-menu .status-button.dropped:after, .status-menu-container .status-menu .status-button.dropped.on:after, .status-menu .status-button.dropped:hover:after  { background-position: -154px -216px; }
.status-menu-container .status-menu .status-button.plantowatch:after, .status-menu-container .status-menu .status-button.plantowatch.on:after, .status-menu .status-button.plantowatch:hover:after  { background-position: -154px -270px; }
.status-menu-container .status-menu .status-button.plantoread:after, .status-menu-container .status-menu .status-button.plantoread.on:after, .status-menu .status-button.plantoread:hover:after  { background-position: -154px -270px; }

/* Menus */

@-webkit-keyframes Drop_down {
	from { opacity: 0; margin-top: 20px; }
	to { opacity: 1; margin-top: 45px; }
}

@keyframes Drop_down {
	from { opacity: 0; margin-top: 20px; }
	to { opacity: 1; margin-top: 45px; }
}

@-webkit-keyframes Slide_down {
	from { line-height: 0; }
	to { line-height: 30px; }
}

@keyframes Slide_down {
	from { line-height: 0; }
	to { line-height: 30px; }
}

/* HEADER */
.header {
	position: absolute;
	display: block;
	right: 29%;
	top: 162px;
	margin: 0;
	width: 650px;
	height: 70px;
	text-shadow: 0 0 .2em #000000;
	float: right;
	z-index: 4; 
}

.header a {
	color: #ffffff;
	text-shadow: 0 0 .2em #000000;
	font-weight: normal;
}

.header a:hover { text-decoration: none; }

.header .header-title { display: none; }

.header .header-menu {
	position: relative;
	right: 0;
	top: 0 !important;
}

.header .header-menu .btn-menu {
	position: absolute;
	display: block;
	top: 36px;
	right: 150px;
	line-height: 35px;
	font-size: 16px;
	color: #ffffff;
	text-align: right;
}

.header .header-menu .header-info {
	position: absolute;
	top: 195px;
	right: 135px;
	font-size: 1em;
	margin: 6px 15px 0 0;
	color: #ffffff;
	text-align: right;
}

.header .header-menu .header-info a[href*="/login"]:before, .header .header-menu .header-info a[href*="/register"]:before, 
.header .header-menu .header-info a[href*="/login"]:after, .header .header-menu .header-info a[href*="/register"]:after {
	position: relative;
	display: inline-block;
	content: '';
	right: 0;
	height: 60px;
	background-image: url(https://i.imgur.com/Q49oFOL.png) /* top_buttons.png */;
	background-repeat: no-repeat;
	-webkit-transition: all .3s ease-out;
	transition: all .3s ease-out;
	z-index: -1;
}

.header .header-menu .header-info a[href*="/login"]:before, .header .header-menu .header-info a[href*="/register"]:before { width: 44px; float: left; }

.header .header-menu .header-info a[href*="/login"]:before { background-position: -220px 0; }

.header .header-menu .header-info a[href*="/register"]:before { background-position: -352px 0; }

.header .header-menu .header-info a[href*="/login"]:after, .header .header-menu .header-info a[href*="/register"]:after { top: 5px; width: 0; float: right; }

.header .header-menu .header-info a[href*="/login"]:after { background-position: -440px -60px; }

.header .header-menu .header-info a[href*="/register"]:after  { background-position: -704px -60px; }

.header .header-menu .header-info a[href*="/login"]:hover:after, .header .header-menu .header-info a[href*="/register"]:hover:after { width: 88px; }

.header .header-menu .header-info a[href*="/login"], .header .header-menu .header-info a[href*="/register"] {
	position: relative;
	display: table-cell;
	left: 158px;
	top: -363px;
	width: 44px;
	height: 60px;
	font-size: 0;
	color: transparent;
	text-shadow: none;
	-webkit-transition: all .3s ease-out;
	transition: all .3s ease-out;
	float: left;
}

.header .header-menu .header-info a[href*="/login"]:hover, .header .header-menu .header-info a[href*="/register"]:hover { width: 132px; }

.header .username { font-weight: normal; }

.header .header-menu .list-menu {
	position: absolute;
	display: none;
	right: 150px;
	margin-top: 45px;
	background-color: transparent;
	border: none;
	box-shadow: none;
	z-index: 1;
}

.header .header-menu .list-menu[style="display: block;"] { 
	-webkit-animation: Drop_down .3s forwards ease-out;
	animation: Drop_down .3s forwards ease-out;
}

.header .header-menu .list-menu .icon-menu {
	display: block;
	width: 88px;
	height: 61px;
	font-size: 0;
	color: transparent;
	background-image: url(https://i.imgur.com/Q49oFOL.png) /* top_buttons.png */;
	background-repeat: no-repeat;
}

.header .header-menu .list-menu .icon-menu.anime-list { background-position: -88px -60px; }

.header .header-menu .list-menu .icon-menu.manga-list { background-position: -176px -60px; }

.header .header-menu .list-menu .icon-menu:hover { background-color: transparent; }

.header .header-menu .list-menu .icon-menu svg.icon, .header .header-menu .list-menu .icon-menu .text  { display: none; }

/* SEARCH */
.status-menu-container .search-container { display: none; }

/* SORT */
.list-table .list-table-header .header-title {
	position: relative; 
	display: table-cell;
	height: 32px;
	color: #ffffff;
	text-align: center;
	background: none;
	border: none;
}

.list-table .list-table-header .header-title .sort-icon { 
	opacity: 1; 
	font-size: 0;
	color: transparent;
}

.list-table .list-table-header .header-title .link { font-size: 14px; color: #ffffff; }

.list-table .list-table-header .header-title:last-child { background-image: none; }

.list-table .list-table-header .header-title.status { display: none; }

.list-unit.all_anime .list-table .list-table-header .header-title.status { display: table-cell; width: 4px; }

.list-table .list-table-header .header-title.number { width: 30px; }

.list-table .list-table-header .header-title.image { width: 66px; }

.list-table .list-table-header .header-title.title { padding-left: 0; text-align: left; }

.list-table .list-table-header .header-title.score { width: 65px; }

.list-table .list-table-header .header-title.type { width: 60px; }

.list-table .list-table-header .header-title.progress { width: 90px; }

.list-table .list-table-header .header-title.chapters { width: 90px; }

.list-table .list-table-header .header-title.volumes { width: 90px; }

.list-table .list-table-header .header-title.tags { width: 120px; }

.list-table .list-table-header .header-title.rated { width: 70px; }

.list-table .list-table-header .header-title.started { width: 110px; }

.list-table .list-table-header .header-title.finished { width: 110px; }

.list-table .list-table-header .header-title.days { width: 45px; }

.list-table .list-table-header .header-title.storage { width: 75px; }

.list-table .list-table-header .header-title.retail { width: 65px; }

.list-table .list-table-header .header-title.priority { width: 70px; }

.list-table .list-table-header .header-title .link.sort {
	position: relative;
	display: inline-block;
	color: #ffffff;
	white-space: nowrap;
}

.list-table .list-table-header .header-title .link.sort:hover { color: #ffffff; }

/* STATS */
.list-unit .list-status-title .stats {
	position: absolute;
	right: 20px;
	top: 68px;
	height: 30px;
	line-height: 30px;
}

.list-unit .list-status-title .stats a {
	display: block;
	margin: 0;
	color: #ffffff;
}

#show-stats-button, #advanced-options-button { color: #ffffff; text-shadow: 0 0 .2em #000000; }

#show-stats-button i.fa.fa-bar-chart, #advanced-options-button i.fa.fa-filter { font-size: 12px; }

.list-unit .list-stats {
	display: none;
	width: 625px;
	line-height: 30px;
	font-size: 12px;
	color: #ffffff; 
	text-shadow: 0 0 .2em #000000; 
	text-align: center;
	background-color: transparent;
}

.list-unit .list-stats[style="display: block;"] { 
	-webkit-animation: Slide_down .3s forwards ease-out;
	animation: Slide_down .3s forwards ease-out;
}

/* Top Menu */

.list-menu-float {
	position: absolute;
	display: table;
	right: 29%;
	top: 0;
	width: 448px;
	height: 64px;
	border: none;
	float: right;
	z-index: 1;
}

.list-menu-float .icon-menu {
	opacity: 1;
	position: relative;
	display: table-cell;
	width: 44px;
	height: 60px;
	background-color: transparent;
	-webkit-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.list-menu-float .icon-menu:not(.profile):hover, .list-menu-float form:hover {
	width: 132px;
	background-color: transparent;
}

/* SVG */
.list-menu-float .icon-menu svg.icon {
	position: relative;
	display: inline-block;
	left: 0 !important;
	top: 0 !important;
	width: 44px;
	height: 60px;
	fill: transparent;
	background-image: url(https://i.imgur.com/Q49oFOL.png) /* top_buttons.png */;
	background-repeat: no-repeat;
	float: left;
}

.list-menu-float .icon-menu:hover svg.icon { position: relative; fill: transparent; }

.list-menu-float .icon-menu svg.icon g { display: none; }

.list-menu-float .icon-menu.profile:after {
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	width: 44px;
	height: 60px;
	background-image: url(https://i.imgur.com/Q49oFOL.png) /* top_buttons.png */;
	background-position: -396px 0;
}

.list-menu-float .icon-menu.profile {
	background-size: cover;
	border-radius: 6px;
	float: right; 
}

.list-menu-float .icon-menu.quick-add  svg.icon { background-position: 0 0; }

.list-menu-float .icon-menu.anime-list svg.icon { background-position: -44px 0; }

.list-menu-float .icon-menu.manga-list svg.icon { background-position: -88px 0; }

.list-menu-float .icon-menu.history svg.icon { background-position: -132px 0; }

.list-menu-float .icon-menu.export  svg.icon{ background-position: -176px 0; }

.list-menu-float .icon-menu.login svg.icon { background-position: -220px 0; }

.list-menu-float form { 
	display: table-cell;
	width: 44px; 
	-webkit-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.list-menu-float .icon-menu.logout svg.icon { background-position: -264px 0; }

.list-menu-float .icon-menu.setting svg.icon { background-position: -308px 0; }

.list-menu-float .icon-menu .text {
	opacity: 1;
	position: absolute;
	display: inline-block;
	left: auto;
	right: 0;
	top: 5px;
	width: 0;
	height: 61px;
	font-size: 0;
	color: transparent;
	background-image: url(https://i.imgur.com/Q49oFOL.png) /* top_buttons.png */;
	background-repeat: no-repeat;
	-webkit-transition: all .3s ease-out;
	transition: all .3s ease-out;
	z-index: -1;
}

.list-menu-float .icon-menu:hover .text { width: 88px; }


.list-menu-float .icon-menu.quick-add .text { background-position: 0 -60px; }

.list-menu-float .icon-menu.anime-list .text { background-position: -88px -60px; }

.list-menu-float .icon-menu.manga-list .text { background-position: -176px -60px; }

.list-menu-float .icon-menu.history .text { background-position: -264px -60px; }

.list-menu-float .icon-menu.export .text { background-position: -352px -60px; }

.list-menu-float .icon-menu.login .text { background-position: -440px -60px; }

.list-menu-float .icon-menu.logout .text { background-position: -528px -60px; }

.list-menu-float .icon-menu.setting .text { background-position: -616px -60px; }

/* setting */
.list-menu-float .icon-menu.setting .text {
	opacity: 1;
	top: 5px;
	width: 0;
	height: 61px;
	-webkit-transition: all .3s ease-out;
	transition: all .3s ease-out;
}


.list-menu-float .icon-menu.setting:hover .text { top: 5px; width: 88px; }

.list-menu-float .icon-menu.setting .text .link-list-setting {
	opacity: 1;
	display: block;
}

.list-menu-float .icon-menu.setting:hover .text .link-list-setting {
	position: absolute;
	display: block;
	width: 88px;
	height: 61px;
	color: transparent;
	background-color: transparent;
}

.list-menu-float .icon-menu.setting:hover .text .link-style-setting { display: none; }

/* Main Style */

@-webkit-keyframes Slide {
	from { margin-top: -50%; }
	to { margin-top: 0; }
}

@keyframes Slide {
	from { margin-top: -50%; }
	to { margin-top: 0; }
}

@-webkit-keyframes Show {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes Show {
	from { opacity: 0; }
	to { opacity: 1; }
}

* { cursor: url(https://i.imgur.com/4zrsph3.png) /* cursor.png */, auto !important; }

body.ownlist {
	font-family: 'Monda';
	font-size: 14px;
	background-color: rgb(25, 35, 37) !important;
	background-image: url(https://i.imgur.com/qLMOyS4.jpg) /* background.jpg */;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
}

.list-container:after {
	pointer-events: none;
	position: fixed;
	display: block;
	content: '';
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: url(https://i.imgur.com/drTTFTz.png) /* side_bg.png */;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: cover;
	z-index: 4;
}

.list-container {
	position: relative;
	display: inline-block;
	right: 29%;
	margin: 0;
	width: 650px;
	text-align: left;
	background-color: transparent;
	border: none;
	float: right;
}

.list-block {
	margin: 370px 0 0 0;
	width: 650px;
	min-height: 600px;
	padding: 25px 10px 100px 0;
	background-color: rgba(0, 0, 0, .5);
	/* Table borders */
	background-clip: padding-box;
	border-color: transparent;
	border-style: solid; 
	border-width: 0 0 0 10px; 
	-webkit-border-image: url(https://i.imgur.com/xVSIbAx.png) /* border.png */ 0 0 0 10 round;
	-moz-border-image: url(https://i.imgur.com/xVSIbAx.png) /* border.png */ 0 0 0 10 round;
	border-image: url(https://i.imgur.com/xVSIbAx.png) /* border.png */ 0 0 0 10 round;
}

.list-unit {
	display: block;
	margin: 0;
	width: 650px;
}

.cover-block {
	pointer-events: none;
	position: absolute;
	display: block;
	top: 64px;
	margin: 0 auto;
	width: 650px;
	text-align: center;
	vertical-align: middle;
	z-index: 2;
}

.cover-block .image-container {
	display: block;
	margin: 10px 0 0 145px;
	width: 519px;
	height: 400px;
	padding: 0;
}

.cover-block .image-container.hide { display: none; }

.cover-block .image-container img { display: none; }

td { line-height: 1.5em; }

a { text-decoration: none; }

.list-table .list-table-data .data, .list-table .list-table-data .data a { text-shadow: 0 0 .2em #000000; }

.list-unit.all_anime .list-table .list-table-data .data, .list-unit.all_anime .list-table .list-table-data .data a { color: #f0943d; }

.list-unit.watching .list-table .list-table-data .data, .list-unit.watching .list-table .list-table-data .data a, 
.list-unit.reading .list-table .list-table-data .data, .list-unit.reading .list-table .list-table-data .data a { color: #8ed5c7; }

.list-unit.completed .list-table .list-table-data .data, .list-unit.completed .list-table .list-table-data .data a { color: #d4575f; }

.list-unit.onhold .list-table .list-table-data .data, .list-unit.onhold .list-table .list-table-data .data a { color: #3f7273; }

.list-unit.dropped .list-table .list-table-data .data, .list-unit.dropped .list-table .list-table-data .data a { color: #c6aa57; }

.list-unit.plantowatch .list-table .list-table-data .data, .list-unit.plantowatch .list-table .list-table-data .data a,
.list-unit.plantoread .list-table .list-table-data .data, .list-unit.plantoread .list-table .list-table-data .data a { color: #a95274; }

.list-table {
	width: 650px;
	margin: 0;
	border-collapse: collapse;
	border: none;
}

.list-table > tbody:nth-of-type(2n+1) { background-color: transparent; }

.list-table .list-item:before, .list-table .list-item:after {
	position: absolute;
	display: block;
	content: '';
	width: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 100%);
	background-image: -moz-linear-gradient(right, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 100%);
	background-image: linear-gradient(to right, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 100%);
	-webkit-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.list-table .list-item:hover:before, .list-table .list-item:hover:after { width: 75%; }

.list-table .list-table-data .data {
	display: table-cell;
	padding: 4px 0;
	vertical-align: middle;
	text-align: center;
	border: none;
}

.list-table .list-table-data .data a { font-weight: normal !important; }

.list-table .list-table-data .data a:hover { text-decoration: none !important; }

.list-table .list-table-data a.edit-disabled {
	cursor: text;
	color: #697c8d;
}

.list-table .list-table-data .data.status:before {
	display: block;
	content: '';
	margin-left: -12px;
	width: 22px;
	height: 12px;
	background-image: url(https://i.imgur.com/zEwIvls.png) /* status_bg.png */;
	background-repeat: no-repeat;
}

.list-table .list-table-data .data.status { display: none; }

.list-unit.all_anime .list-table-data .data.status { 
	display: table-cell; 
	width: 4px;
	padding: 0;
	background-color: transparent !important; 
}

.list-table .list-table-data .data.status.reading:before, .list-table .list-table-data .data.status.watching:before { background-position: 0 0; }

.list-table .list-table-data .data.status.completed:before { background-position: 0 -12px; }

.list-table .list-table-data .data.status.onhold:before { background-position: 0 -24px; }

.list-table .list-table-data .data.status.dropped:before { background-position: 0 -36px; }

.list-table .list-table-data .data.status.plantoread:before, .list-table .list-table-data .data.status.plantowatch:before { background-position: 0 -48px; }

.list-table .list-table-data .data.image a { display: inline-block; }

.list-table .list-table-data .data.title {
	padding: 0;
	text-align: left;
	word-wrap: break-word;
}

.list-table .list-table-data .data.title .link { width: calc(100% - 80px); }

.list-table .list-table-data .data.title a { display: inline-block; }

.list-table .list-table-data .data.title .ml4 { display: none; }

.list-table .list-table-data .data.title .add-edit-more {
	display: inline-block;
	margin-right: 10px;
	width: 0;
	font-size: .9em;
	white-space: nowrap;
	-webkit-transition: all .3s ease-out;
	transition: all .3s ease-out;
	float: right;
	overflow: hidden;
}

.list-table .list-table-data:hover .data.title .add-edit-more { width: 68px; }

.list-table .list-table-data .data.title .more { position: relative; }

.list-table .more-info { display: none; border: none; }

.list-table .more-info .more-content { padding: 10px 20px 10px 10px; }

.borderRBL, .borderRBL a { 	color: #ffffff; text-shadow: 0 0 .2em #000000; }

.borderRBL { opacity: 0; display: block; text-align: right; }

.borderRBL a  { font-weight: bold; }

.list-table .more-info[style="display: table-row;"] .borderRBL {
	-webkit-animation: Slide .3s ease-out, Show .3s forwards ease-out .3s;
	animation: Slide .3s ease-out, Show .3s forwards ease-out .3s;
}

/* HEADERS */
.list-unit .list-status-title {
	position: absolute;
	display: table;
	margin: -200px 0 0 -15px;
	width: 665px;
	height: 200px;
	background-color: transparent;
	background-image: url(https://i.imgur.com/0MdUsGE.png) /* headers_bg.png */;
	background-repeat: no-repeat;
	z-index: 3;
}

.list-unit .list-status-title .text { display: none; }

.list-unit.watching .list-status-title, .list-unit.reading .list-status-title { background-position: 0 -200px; }

.list-unit.completed .list-status-title { background-position: 0 -400px; }

.list-unit.onhold .list-status-title { background-position: 0 -600px; }

.list-unit.dropped .list-status-title { background-position: 0 -800px; }

.list-unit.plantowatch .list-status-title, .list-unit.plantoread .list-status-title { background-position: 0 -1000px; }

#footer-block {
	position: relative;
	display: inline-block; 
	width: 100%; 
	padding: 0;
	font-family: 'Monda';
	background-color: transparent;
	float: right;
}

#copyright {
	position: relative;
	width: 675px;
	right: 29%;
	margin: -150px -20px 0 0;
	height: 150px;
	padding: 0 0 0 45px;
	line-height: 272px;
	font-size: 12px;
	color: #ffffff;
	text-shadow: 0 0 .2em #000000;
	text-align: center;
	text-transform: uppercase;
	background: url(https://i.imgur.com/KcHY3Mg.png) /* footer_bg.png */ no-repeat;
	overflow: hidden;
	float: right;
}

#advanced-options {
	opacity: 0;
	position: absolute;
	display: none;
	left: 0;
	right: 0;
	top: 24px;
	margin: 0 auto;
	width: 865px;
	height: 550px;
	padding: 55px 0 30px;
	font-family: 'Monda';
	color: #c5c5c5;
	text-shadow: 0 0 .2em #000000;
	text-align: left;
	background-color: transparent;
	background: url(https://i.imgur.com/4oQD8AE.png) /* filter_bg.png */ no-repeat;
	border: none;
	box-shadow: none;
	z-index: 1101;
}

#fancybox-overlay { opacity: 0; }

#fancybox-overlay[style="display: block;"] {
	opacity: .5;
	background-color: rgb(80, 80, 80);
}

#fancybox-overlay[style="display: block;"], #advanced-options[style="display: block;"] {
	-webkit-animation: Show .3s forwards ease-out;
	animation: Show .3s forwards ease-out;
}

#advanced-options #fancybox-close:before {
	pointer-events: none;
	position: absolute;
	display: block;
	content: '';
	left: -16px;
	top: -14px;
	width: 67px;
	height: 69px;
	background: url(https://i.imgur.com/rxpCmjn.png) /* filter_close.png */ no-repeat;
}

#advanced-options #fancybox-close {
	position: absolute !important;
	top: 56px !important;
	right: 74px !important;
	width: 32px !important;
	height: 32px !important;
	background: none !important;
	cursor: pointer;
	z-index: 1103;
}

#advanced-options .advanced-options-header {
	width: 730px;
	margin: 0px auto;
	padding-bottom: 4px;
	font-size: 16px;
	border: none;
	box-shadow: 0 1px 0 #000000, 0 2px 0 #505050;
}

#advanced-options .advanced-options-header .description {
	margin-left: 8px;
	font-size: 14px;
	font-weight: normal;
}

#advanced-options input[type=text], #advanced-options select,  #advanced-options select:disabled {
	height: 21px;
	padding: 0 2px;
	color: #000000;
	background-color: rgba(255, 255, 255, .8);
	border: solid 1px #000000;
}

#advanced-options select:disabled { color: #646464; }

#advanced-options select, #advanced-options select:disabled {
	display: inline-block;
	padding-right: 20px;
	background-image: url(/img/pc/ownlist/icon_pulldown_triangle.png);
	background-repeat: no-repeat;
	background-position: center right;
	background-size: 18px 8px;
}

#advanced-options select:disabled { background-color: rgba(197, 197, 197, .8); }

#advanced-options select option { color: #000000; }

#advanced-options select::-ms-expand { display: none; }

#advanced-options input:focus, #advanced-options select:focus { outline: none; }

/* FILTER */
#advanced-options .filter-widget {
	margin: 0 auto;
	width: 730px;
	padding: 12px 0 0;
}

#advanced-options .filter-widget select {
	margin-right: 8px;
	font-size: 14px;
}

/* SORT */
#advanced-options .sort-widget {
	margin: 0px auto;
	width: 730px;
	padding: 12px 0 0;
}

#advanced-options .sort-widget:last-of-type { padding-bottom: 45px; }

#advanced-options .sort-widget select {
    width: 172px;
    margin-right: 8px;
}

#advanced-options .sort-widget input[type=radio] { display: none; }

#advanced-options .sort-widget input[type=radio] + label {
	position: relative;
	display: inline-block;
	line-height: 24px;
	padding: 0;
	color: #646464;
	text-shadow: 0 0 .2em #000000;
	text-align: left;
	background-color: transparent;
	border: none;
	border-radius: 0;
}

#advanced-options .sort-widget input[type=radio]:disabled + label, #advanced-options .sort-widget input[type=radio]:checked + label, #advanced-options .sort-widget input[type=radio]:checked:disabled + label {
	background-color: transparent;
	border: none;
}

#advanced-options .sort-widget input[type=radio]:disabled + label, #advanced-options .sort-widget input[type=radio]:checked:disabled + label { color: #646464; }

#advanced-options .sort-widget input[type=radio]:checked + label { color: #ffffff; }


#advanced-options .filter-widget.title input[type=text] { width: 360px; }

#advanced-options .filter-widget.airing-status select,
#advanced-options .filter-widget.publishing-status select {width: 152px; }

#advanced-options .filter-widget.producer select,
#advanced-options .filter-widget.magazine select { width: 360px; }

#advanced-options .filter-widget.aired-date select.year,
#advanced-options .filter-widget.published-date select.year { width: 80px; }

#advanced-options .filter-widget.aired-date select.month,
#advanced-options .filter-widget.published-date select.month,
#advanced-options .filter-widget.aired-date select.day,
#advanced-options .filter-widget.published-date select.day { width: 60px; }

#advanced-options .filter-widget.aired-date .text,
#advanced-options .filter-widget.published-date .text {
	display: inline-block;
	margin-right: 4px;
	font-size: 14px;
}

#advanced-options .filter-widget.aired-season select.year { width: 80px; }

#advanced-options .filter-widget.aired-season select.season { width: 110px; }

#advanced-options .sort-widget .widget-header,
#advanced-options .filter-widget .widget-header {
	display: inline-block;
	width: 110px;
	font-family: 'Monda';
	font-size: 14px;
}

#advanced-options .sort-widget:last-of-type,
#advanced-options .filter-widget:last-of-type { padding-bottom: 40px; }

#advanced-options .advanced-options-button {
	width: 730px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	border: none;
	box-shadow: 0 -1px 0 #505050, 0 -2px 0 #000000;
}

#advanced-options .btn-apply,
#advanced-options .btn-clear {
	position: relative;
	display: inline-block;
	top: -7px;
	margin: 0 4px;
	width: 151px;
	height: 44px;
	padding: 0;
	font-size: 0;
	color: 0;
	background-color: transparent;
	background-image: url(https://i.imgur.com/orNi8FY.png) /* filter_buttons.png */;
	background-repeat: no-repeat;
	border-radius: 0;
}

#advanced-options .btn-apply { background-position: 0 0; }

#advanced-options .btn-clear { background-position: -151px 0; }

#advanced-options .btn-apply:hover,
#advanced-options .btn-clear:hover { background-color: transparent; }

/* DESIGN SETTINGS BUTTON */
.cover-block .image-container .btn-list-setting { display: none; }

/**
 * List Container - List Table - Items
 */

.list-table .list-table-data a:not(.edit-disabled):hover { text-decoration: underline; }

.list-table .list-table-data .tags .edit {
	display: block;
	width: 100%;
	text-align: center;
	color: #2db039;
	font-size: 10px;
	font-family: 'Monda';
}

.list-table .list-table-data .tags .edit:hover { color: green !important; }

.list-table .list-table-data .tags textarea {
	box-sizing: border-box;
	width: 100%;
	height: 60px;
}

.list-table .list-table-data .data.title .rewatching, .list-table .list-table-data .data.title .rereading, .list-table .list-table-data .data.title .content-status {
	position: absolute;
	margin-left: 12px;
	width: 68px;
	font-size: .9em;
	color: #ffffff;
	text-shadow: 0 0 .2em #000000;
	text-align: left;
	white-space: nowrap;
	-webkit-transition: all .3s ease-out;
	transition: all .3s ease-out;
	float: left;
	overflow: hidden;
	z-index: 1;
}

.list-table .list-table-data:hover .data.title .rewatching, .list-table .list-table-data:hover .data.title .rereading, .list-table .list-table-data:hover .data.title .content-status { width: 0; }

.list-table .list-table-data .data.tags { word-wrap: break-word; }

.list-unit .loading-space {
    margin: 8px;
    height: 20px;
    font-size: 20px;
    text-align: center;
}

/* Various Pathces */

#recaptcha-terms {
	display: none;
}