/*
Bakemonogatari by Hahaido
Modified by Valerio Lyndon
Last updated: 2024-Jan-10
*/

@\import "https://yuiafterdark.github.io/shared/fixes/modern.css";
@\import "https://fonts.googleapis.com/css?family=Source+Sans+Pro";

/* Top Menu */

.list-menu-float {
	position: fixed;
	right: 800px;
	top: 0;
	width: 80px;
	height: auto;
	padding: 100px 0 20px;
	border: none;
	background: rgb(255, 255, 255);
}

.list-menu-float .icon-menu {
	position: relative;
	display: block;
	width: 80px;
	height: 40px;
	background-color: transparent;
	background-image: url(https://dl.dropboxusercontent.com/s/w03pjruq7f9jxts/top_buttons.png);
	background-repeat: no-repeat;
	-webkit-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.list-menu-float .icon-menu:not(.profile):hover {
	width: 80px;
	background-color: transparent;
}

/* SVG */
.list-menu-float .icon-menu svg.icon { display: none; }

.list-menu-float .icon-menu.profile {
	position: relative;
	display: block;
	margin: -70px auto 20px auto;
	width: 50px;
	height: 50px;
	border-style: solid;
	border-color: #ea3f47;
	border-width: 2px;
	background-size: cover;
	z-index: 1;
}

.list-menu-float .icon-menu.quick-add { background-position: 0 0; }
.list-menu-float .icon-menu.quick-add:hover { background-position: -80px 0; }

.list-menu-float .icon-menu.anime-list { background-position: 0 -40px; }
.list-menu-float .icon-menu.anime-list:hover { background-position: -80px -40px; }

.list-menu-float .icon-menu.manga-list { background-position: 0 -80px; }
.list-menu-float .icon-menu.manga-list:hover { background-position: -80px -80px; }

.list-menu-float .icon-menu.history { background-position: 0 -120px; }
.list-menu-float .icon-menu.history:hover { background-position: -80px -120px; }

.list-menu-float .icon-menu.export { background-position: 0 -160px; }
.list-menu-float .icon-menu.export:hover { background-position: -80px -160px; }

.list-menu-float form { display: block; width: 80px; }
.list-menu-float .icon-menu.logout { background-position: 0 -200px; }
.list-menu-float .icon-menu.logout:hover { background-position: -80px -200px; }

.list-menu-float .icon-menu.setting { background-position: 0 -240px; }
.list-menu-float .icon-menu.setting:hover { background-position: -80px -240px; }

.list-menu-float .icon-menu .text { display: none; }

.list-menu-float .icon-menu:not(.profile):hover {
	background-color: transparent;
}

/* setting */
.list-menu-float .icon-menu.setting .text {
	display: none;
}

.list-menu-float .icon-menu.setting .text .link-list-setting {
	width: 80px;
	height: 40px;
}

.list-menu-float .icon-menu.setting:hover .text .link-list-setting {
	position: absolute;
	display: block;
	width: 80px;
	height: 40px;
	color: transparent;
	background-color: transparent;
}

.list-menu-float .icon-menu.setting:hover .text .link-style-setting { display: none; }

/* Category Menu */

.status-menu-container.fixed {
	left: auto;
	right: 20px;
}

.status-menu-container.fixed + div.list-block {
	margin: 0;
}

.status-menu-container {
	position: absolute;
	left: -20px;
	top: 0;
	margin: 0;
	width: 740px;
	height: 60px;
	background-color: rgb(242, 91, 108);
	border: none;
	z-index: 5;
}

.status-menu-container .status-menu {
	position: relative;
	display: table-cell;
	margin: 0;
	width: 740px;
	border-collapse: separate;
	border-spacing: 0;
	float: right;
}

.status-menu-container .status-menu .status-button {
	position: relative;
	display: block;
	width: 120px;
	line-height: 60px;
	padding: 0;
	font-size: 0;
	color: transparent;
	float: left;
}

.status-menu-container .status-menu .status-button:not(.all_anime) { margin: 0 0 0 4px; }

.status-menu-container .status-menu .status-button:before {
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	width: 120px;
	line-height: 60px;
	font-size: 18px;
	color: #ffffff;
}

.status-menu-container .status-menu .status-button:hover:before, .status-menu-container .status-menu .status-button.on:before { color: #000000; }

.status-menu-container .status-menu .status-button.all_anime:before, .status-menu-container .status-menu .status-button.all_anime.on:before { content: 'All'; }
.status-menu-container .status-menu .status-button.watching:before, .status-menu-container .status-menu .status-button.watching.on:before { content: 'Watching'; }
.status-menu-container .status-menu .status-button.completed:before, .status-menu-container .status-menu .status-button.completed.on:before { content: 'Completed'; }
.status-menu-container .status-menu .status-button.onhold:before, .status-menu-container .status-menu .status-button.onhold.on:before { content: 'On hold'; }
.status-menu-container .status-menu .status-button.dropped:before, .status-menu-container .status-menu .status-button.dropped.on:before { content: 'Dropped'; }
.status-menu-container .status-menu .status-button.plantowatch:before, .status-menu-container .status-menu .status-button.plantowatch.on:before { content: 'Planned'; }

.status-menu-container .status-menu .status-button:after {
	bottom: 8px;
	background: #000000;
	-webkit-transition: none;
	transition: opacity none;
}

/* Menus */

/* HEADER */
.header {
	position: absolute;
	top: 60px;
	margin: 0;
	width: 100%;
	z-index: 1;
}

.header a:hover { text-decoration: none; }

.header .header-title { display: none; }

.header .header-menu {
	position: relative;
	left: 20px;
	right: auto;
	top: 0;
	margin: 0;
	width: 400px;
}

.header .header-menu.other {
	top: 0;
}

.header .header-menu .btn-menu {
	position: absolute;
	left: 0;
	top: 0;
	font-size: 16px;
	text-align: left;
}

.header .header-menu .header-info {
	position: absolute;
	top: 22px;
	left: 0;
	font-size: 1em;
	margin: 0;
	text-align: left;
}

.header .header-menu .header-info a[href*="/login"]:before {
	pointer-events: none;
	position: absolute;
	display: block;
	content: '';
	left: -20px;
	top: 0;
	width: 20px;
	height: 40px;
	background-color: rgb(122, 87, 153);
}

.header .header-menu .header-info a[href*="/login"], .header .header-menu .header-info a[href*="/register"] {
	width: 80px;
	height: 40px;
	font-size: 0;
	color: transparent;
	background-image: url(https://dl.dropboxusercontent.com/s/g2bo0xr61d77763/menu_buttons.png?dl=0);
	background-repeat: no-repeat;
	-webkit-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.header .header-menu .header-info a[href*="/login"], .header .header-menu .header-info a[href*="/register"] {
	position: fixed;
	display: block;
	top: 84px;
}

.header .header-menu .header-info a[href*="/login"] { left: 20px; background-position: 0 0; }
.header .header-menu .header-info a[href*="/login"]:hover { background-position: 0 -40px; }

.header .header-menu .header-info a[href*="/register"] { left: 100px; background-position: -80px 0; }
.header .header-menu .header-info a[href*="/register"]:hover { background-position: -80px -40px; }

.header .username { font-weight: normal; }

/* DROP-DOWN */
.header .header-menu .list-menu {
	position: absolute;
	display: block;
	right: auto;
	top: -6px;
	margin: 0 0 0 164px;
	background-color: transparent;
	border: none;
	box-shadow: none;
}

.header .header-menu .btn-menu #header-menu-button { pointer-events: none; }

.header .header-menu .btn-menu #header-menu-button:after {
	display: inline-block;
	content: '-';
}

.fa.fa-angle-down { display: none; }

.header .header-menu.other #header-menu-dropdown.list-menu a.icon-menu.manga-list span:before {
	position: absolute;
	display: block;
	content: 'Manga list';
	font-size: 16px;
	color: #f25b6c;
	font-weight: normal;
	white-space: nowrap;
}

.header .header-menu.other #header-menu-dropdown.list-menu a.icon-menu.manga-list span:hover:before { 	color: #000000; }

.header .header-menu.other #header-menu-dropdown.list-menu a.icon-menu.anime-list span,
.header .header-menu.other #header-menu-dropdown.list-menu a.icon-menu.manga-list span {
	font-size: 0;
	color: transparent;
}

.header a, .header .header-menu .header-info, .header .header-menu .btn-menu {
	color: #000000;
	font-weight: normal;
}

.header .header-menu .list-menu .icon-menu:hover { background-color: transparent; }

.header .header-menu .list-menu .icon-menu svg.icon { display: none; }

.header .header-menu .list-menu .icon-menu .text  { display: block; }

/* SEARCH */
.status-menu-container .search-container { display: none; }

/* SORT */
.list-table > tbody:first-of-type {
	position: absolute;
	display: block;
	right: 0;
	top: 364px;
	margin: 0;
}

.list-table .list-table-header .header-title, .list-unit .list-status-title .stats a {
	position: relative; 
	display: block;
	width: 80px !important;
	padding: 0 !important;
	height: 24px;
	color: #000000;
	text-align: right !important;
	background: rgb(255, 255, 255);
	border: none;
}
.list-table .list-table-header .header-title {
	height: auto;
	font-size: 0;
}

.list-table .list-table-header .header-title:hover .link.sort { color: #000000; }

.list-table .list-table-header .header-title .sort-icon {
	opacity: 1; 
	font-size: 0;
	color: transparent;
}

.list-table .list-table-header .header-title .link { 
	display: inline-block;
	height: 24px;
	font-size: 12px; 
	color: #f25b6c;
}

.list-table .list-table-header .header-title.status, .list-unit.all_anime .list-table .list-table-header .header-title.status, 
.list-table .list-table-header .header-title.number, .list-table .list-table-header .header-title.image, 
.list-table .list-table-header .header-title.tags { display: none; }

.list-table .list-table-header .header-title .link.sort {
	position: relative;
	display: inline-block;
	color: #f25b6c;
	white-space: nowrap;
	text-transform: uppercase;
	-webkit-transition: none;
	transition: none;
}

.list-table .list-table-header .studio { display: none; }

/* STATS */
.list-unit .list-status-title .stats {
	position: absolute;
	right: 0;
	top: 268px;
}

.list-unit .list-status-title .stats a {
	display: block;
	margin: 0;
	height: 36px;
	line-height: 36px;
	font-size: 14px; 
	color: #000000;
	font-weight: bold;
	text-transform: uppercase;
}

.list-unit .list-status-title .stats a:hover { color: #f25b6c; }

#show-stats-button { display: none; }

#show-stats-button i.fa.fa-bar-chart, #advanced-options-button i.fa.fa-filter { font-size: 12px; }

.list-unit .list-stats {
	position: relative;
	display: table;
	left: calc(100% - 350px);
	width: 330px;
	padding: 0 20px 2px;
	line-height: 14px;
	font-size: 12px;
	color: #ffffff;
	text-align: right;
	background-color: rgb(122, 87, 153);
}

/* Animation */

@-webkit-keyframes fade_in {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes fade_in {
	from { opacity: 0; }
	to { opacity: 1; }
}

@-webkit-keyframes intro {
	from { opacity: 1; }
	to { opacity: 0; }
}

@keyframes intro {
	from { opacity: 1; }
	to { opacity: 0; }
}


/* Main Style */

@-webkit-keyframes Slide {
	from { margin-top: -50%; }
	to { margin-top: 0; }
}

@keyframes Slide {
	from { margin-top: -50%; }
	to { margin-top: 0; }
}

* { cursor: default !important; }

body.ownlist {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	background-color: rgb(229, 229, 229);
	background-image: url(https://dl.dropboxusercontent.com/s/irmy3awex3xl9nu/background.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
}

body.ownlist:after {
	pointer-events: none;
	position: fixed;
	display: block;
	content: '';
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0);
	background-image: url(https://dl.dropboxusercontent.com/s/rhgk8rjc38my3ya/intro.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	-webkit-animation: intro 1s forwards linear 5s;
	animation: intro 1s forwards linear 5s;
	z-index: 1000;
}

.list-container {
	position: relative;
	right: 40px;
	top: 60px;
	width: 700px;
	padding: 480px 0 51px 0;
	text-align: left;
	background-color: rgba(0, 0, 0, .1);
	border: none;
	float: right;
}

.list-block:before {
	pointer-events: none;
	position: absolute;
	display: block;
	content: '';
	right: -20px;
	top: 0;
	width: 740px;
	height: calc(100% - 20px);
	background-color: rgb(255, 255, 255);
	z-index: -1;
}

.list-block {
	margin: 0;
	width: 700px;
	min-height: 100%;
}

.list-unit {
	display: block;
	width: 700px;
}

.cover-block {
	pointer-events: none;
	position: absolute;
	display: block;
	left: -20px;
	top: 60px;
	width: 740px;
	height: 190px;
	background: url(https://dl.dropboxusercontent.com/s/stbneh921mjfpwh/top_bg.png) no-repeat;
	text-align: center;
	vertical-align: middle;
}

#cover-image-container { display: none; }

td { line-height: 1.5em; }

a { text-decoration: none; }

.list-table .list-table-data .data { color: #f25b6c; }

.list-table .list-table-data .data a { color: #f25b6c; }

.list-table {
	width: 700px;
	margin: 0;
	border-collapse: collapse;
	border: none;
}

.list-table > tbody:nth-of-type(2n+1) { background-color: transparent; }

.list-table .list-item:after {
	position: absolute;
	display: block;
	content: '';
	left: 0;
	width: 100%;
	border-bottom: 2px dotted #ffffff;
}

.list-table .list-item:hover:after { border-bottom: 2px dotted #f25b6c; }

.list-table .list-table-data .data {
	display: table-cell;
	padding: 4px 0;
	vertical-align: middle;
	text-align: center;
	border: none;
}

.list-table .list-table-data .data a { font-weight: normal !important; }

.list-table .list-table-data .data a:hover { text-decoration: none !important; }

.list-table .list-table-data a.edit-disabled {
	cursor: text;
	color: #000000;
}

.list-table .list-table-data .data.status { display: none; }

.list-table .list-table-data .data.number:before {
	position: absolute;
	display: block;
	content: '';
	margin: -10px 0 0 -20px;
	width: 80px;
	height: 40px;
	background: rgb(242, 91, 108);
	z-index: -1;
}

.list-table .list-table-data .data.number { width: 30px; color: #ffffff; text-align: center; }

.list-table .list-table-data .data.image { width: 62px; }

.list-table .list-table-data .data.image .image {
	width: 48px;
	height: 48px;
	border: solid 2px #f25b6c;
	border-radius: 50em;
}

.list-table .list-table-data .data.image a { display: inline-block; }

.list-table .list-table-data .data.title {
	padding: 0;
	text-align: left;
	word-wrap: break-word;
}

.list-table .list-table-data .data.title .ml4 { display: none; }

.list-table .list-table-data .data.title .add-edit-more {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	display: inline-block;
	margin: 0 0 0 10px;
	padding: 0 8px 4px;
	font-size: .9em;
	color: #ffffff;
	text-transform: lowercase;
	white-space: nowrap;
	background:  rgb(122, 87, 153);
	-webkit-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.list-table .list-table-data:hover .data.title .add-edit-more { 
	visibility: visible;
	opacity: 1; 
}

.list-table .list-table-data .data.title .add-edit-more a { color: #ffffff; }

.list-table .list-table-data .data.title .add-edit-more a:hover { color: #000000; }

.list-table .list-table-data .data.title .more { position: relative; }

.list-table .more-info { display: none; border: none; }

.list-table .more-info .more-content { padding: 10px 20px 10px 34px; }

.borderRBL, .borderRBL a:hover { color: #000000; }

.borderRBL a { color: #f25b6c; }

.borderRBL { opacity: 0; display: block; text-align: left; }

.borderRBL a  { font-weight: bold; }

.list-table .more-info[style="display: table-row;"] .borderRBL {
	-webkit-animation: Slide .3s ease-out, fade_in .3s forwards ease-out .3s;
	animation: Slide .3s ease-out, fade_in .3s forwards ease-out .3s;
}

/* HEADERS */
.list-unit .list-status-title {
	position: absolute;
	display: table;
	margin: -420px 0 0 0;
	width: 700px;
	height: 400px;
	background-color: transparent;
	background-image: url(https://dl.dropboxusercontent.com/s/xry85zr2fuhixha/headers_bg.png);
	background-repeat: no-repeat;
}

.list-unit .list-status-title .text { display: none; }

.list-unit.watching .list-status-title, .list-unit.reading .list-status-title { background-position: 0 -400px; }

.list-unit.completed .list-status-title { background-position: 0 -800px; }

.list-unit.onhold .list-status-title { background-position: 0 -1200px; }

.list-unit.dropped .list-status-title { background-position: 0 -1600px; }

.list-unit.plantowatch .list-status-title, .list-unit.plantoread .list-status-title { background-position: 0 -2000px; }

#footer-block {
	position: relative;
	display: inline-block; 
	width: 100%; 
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	background-color: transparent;
	float: right;
}

#copyright {
	position: relative;
	right: 40px;
	top: -13px;
	width: 700px;
	font-size: 12px;
	color: #000000;
	text-align: center;
	float: right;
}

#copyright:after { display: block; content: 'List designed by Hahaido.'; }

#advanced-options {
	opacity: 0;
	position: absolute;
	display: none;
	left: 0;
	right: 0;
	top: 62px;
	margin: 0 auto;
	width: 865px;
	height: 465px;
	padding: 55px 0 30px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #000000;
	text-align: left;
	background-color: transparent;
	background: url(https://dl.dropboxusercontent.com/s/wu3352zed7augx4/filter_bg.png) no-repeat;
	border: none;
	box-shadow: 0 2px 8px rgba(0, 0, 0, .3);
	z-index: 1101;
}

#fancybox-overlay { background-color: rgba(0, 0, 0, .7) !important; }

#fancybox-overlay[style="display: block;"], #advanced-options[style="display: block;"] {
	-webkit-animation: fade_in .3s forwards ease-out;
	animation: fade_in .3s forwards ease-out;
}

#advanced-options #fancybox-close {
	position: absolute !important;
	top: 40px !important;
	right: 40px !important;
	width: 24px !important;
	height: 24px !important;
	background: none !important;
	cursor: pointer;
	z-index: 1103;
}

#advanced-options .advanced-options-header {
	width: 730px;
	margin: 0px auto;
	padding-bottom: 4px;
	font-size: 16px;
	color: #f25b6c;
	border: none;
}

#advanced-options .advanced-options-header .description {
	margin-left: 8px;
	font-size: 14px;
	font-weight: normal;
}

#advanced-options input[type=text], #advanced-options select,  #advanced-options select:disabled {
	height: 21px;
	padding: 0 2px;
	color: #000000;
	background-color: rgba(255, 255, 255);
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #000000;
}

#advanced-options select:disabled { color: #e5e5e5; }

#advanced-options select, #advanced-options select:disabled {
	display: inline-block;
	padding-right: 20px;
	background-image: url(/img/pc/ownlist/icon_pulldown_triangle.png);
	background-repeat: no-repeat;
	background-position: center right;
	background-size: 18px 8px;
}

#advanced-options select:disabled { background-color: rgba(0, 0, 0, .1); border: none; }

#advanced-options select option { color: #000000; }

#advanced-options select::-ms-expand { display: none; }

#advanced-options input:focus, #advanced-options select:focus { outline: none; }

/* FILTER */
#advanced-options .filter-widget {
	margin: 0 auto;
	width: 730px;
	padding: 12px 0 0;
}

#advanced-options .filter-widget select {
	margin-right: 8px;
	font-size: 14px;
}

/* SORT */
#advanced-options .sort-widget {
	margin: 0px auto;
	width: 730px;
	padding: 12px 0 0;
}

#advanced-options .sort-widget:last-of-type { padding-bottom: 45px; }

#advanced-options .sort-widget select {
    width: 172px;
    margin-right: 8px;
}

#advanced-options .sort-widget input[type=radio] { display: none; }

#advanced-options .sort-widget input[type=radio] + label {
	position: relative;
	display: inline-block;
	line-height: 24px;
	padding: 0;
	color: #000000;
	text-align: left;
	background-color: transparent;
	border: none;
	border-radius: 0;
}

#advanced-options .sort-widget input[type=radio]:disabled + label, #advanced-options .sort-widget input[type=radio]:checked + label, #advanced-options .sort-widget input[type=radio]:checked:disabled + label {
	background-color: transparent;
	border: none;
}

#advanced-options .sort-widget input[type=radio]:disabled + label, #advanced-options .sort-widget input[type=radio]:checked:disabled + label { color: #e5e5e5; }

#advanced-options .sort-widget input[type=radio]:checked + label { color: #f25b6c; }


#advanced-options .filter-widget.title input[type=text] { width: 360px; }

#advanced-options .filter-widget.airing-status select,
#advanced-options .filter-widget.publishing-status select {width: 152px; }

#advanced-options .filter-widget.producer select,
#advanced-options .filter-widget.magazine select { width: 360px; }

#advanced-options .filter-widget.aired-date select.year,
#advanced-options .filter-widget.published-date select.year { width: 80px; }

#advanced-options .filter-widget.aired-date select.month,
#advanced-options .filter-widget.published-date select.month,
#advanced-options .filter-widget.aired-date select.day,
#advanced-options .filter-widget.published-date select.day { width: 60px; }

#advanced-options .filter-widget.aired-date .text,
#advanced-options .filter-widget.published-date .text {
	display: inline-block;
	margin-right: 4px;
	font-size: 14px;
}

#advanced-options .filter-widget.aired-season select.year { width: 80px; }

#advanced-options .filter-widget.aired-season select.season { width: 110px; }

#advanced-options .sort-widget .widget-header,
#advanced-options .filter-widget .widget-header {
	display: inline-block;
	width: 110px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
}

#advanced-options .sort-widget:last-of-type,
#advanced-options .filter-widget:last-of-type { padding-bottom: 40px; }

#advanced-options .advanced-options-button {
	position: relative;
	display: table;
	width: 164px;
	left: 40px;
	top: 0;
	padding: 0;
	text-align: center;
	background: rgb(229, 229, 229);
	border: none;
	float: left;
}

#advanced-options .btn-apply,
#advanced-options .btn-clear {
	position: relative;
	display: inline-block;
	margin: 0;
	width: 80px;
	padding: 0;
	line-height: 40px;
	font-size: 16px;
	color: #f25b6c;
	background-color: transparent;
	border: none;
	-webkit-transition: none;
	transition: none;
}

#advanced-options .btn-apply:hover, #advanced-options .btn-clear:hover { 
	color: #000000; 
	background-color: transparent;
}

/* DESIGN SETTINGS BUTTON */
.cover-block .image-container .btn-list-setting { display: none; }

/* List Container - List Table - Items */
.list-table .list-table-data a:not(.edit-disabled):hover { text-decoration: underline; }

.list-table .list-table-data .tags .edit {
	display: block;
	width: 100%;
	text-align: center;
	color: #c4c4b9;
	font-size: 10px;
	font-family: 'Source Sans Pro', sans-serif;
}

.list-table .list-table-data .tags .edit:hover { color: #000000 !important; }

.list-table .list-table-data .tags textarea {
	box-sizing: border-box;
	width: 100%;
	height: 60px;
}

.list-table .list-table-data .data.title .rewatching, .list-table .list-table-data .data.title .rereading, .list-table .list-table-data .data.title .content-status {
	font-size: .9em;
	color: #000000;
	text-transform: lowercase;
}

.list-table .list-table-data .data.tags { word-wrap: break-word; }

.list-unit .loading-space {
    margin: 8px;
    height: 20px;
    font-size: 20px;
    text-align: center;
}