.data.title a[href$="/Kimi_ni_Todoke"]:before,
.data.title a[href$="/Kimi_ni_Todoke_2nd_Season"]:before, 
.data.title a[href$="/Candy_Candy"]:before, 
.data.title a[href$="/Blood+"]:before, 
.data.title a[href$="/Kimi_ga_Nozomu_Eien"]:before, 
.data.title a[href$="/Shingetsutan_Tsukihime"]:before, 
.data.title a[href$="/Saikano"]:before, 
.data.title a[href$="/Amagami_SS"]:before, 
.data.title a[href$="/Amagami_SS+_Plus"]:before,
.data.title a[href$="/Sekirei"]:before, 
.data.title a[href$="/Sekirei:_Pure_Engagement"]:before, 
.data.title a[href$="/Mirai_Nikki_(TV)"]:before,
.data.title a[href$="/Nisemonogatari"]:before,
.data.title a[href$="/Nyan_Koi!"]:before,
.data.title a[href$="/Gosick"]:before,
.data.title a[href$="/Kokoro_Connect"]:before,
.data.title a[href$="/Kokoro_Connect:_Michi_Random"]:before,
.data.title a[href$="/Peach_Girl"]:before,
.data.title a[href$="/Kanon_(2006)"]:before,
.data.title a[href$="/sola"]:before,
.data.title a[href$="/Toaru_Majutsu_no_Index"]:before,
.data.title a[href$="/Toaru_Majutsu_no_Index_II"]:before,
.data.title a[href$="/Motto_To_LOVE-Ru"]:before,
.data.title a[href$="/Sankarea"]:before,
.data.title a[href$="/Kurokami"]:before,
.data.title a[href$="/Suzuka"]:before,
.data.title a[href$="/Kekkaishi"]:before,
.data.title a[href$="/Ano_Hi_Mita_Hana_no_Namae_wo_Bokutachi_wa_Mada_Shiranai."]:before,
.data.title a[href$="/Zetsuen_no_Tempest"]:before,
.data.title a[href$="/Code_Geass:_Hangyaku_no_Lelouch"]:before,
.data.title a[href$="/Code_Geass:_Hangyaku_no_Lelouch_R2"]:before,
.data.title a[href$="/Muv-Luv_Alternative:_Total_Eclipse"]:before,
.data.title a[href$="/Koi_to_Senkyo_to_Chocolate"]:before,
.data.title a[href$="/Kingdom"]:before,
.data.title a[href$="/Tegami_Bachi"]:before,
.data.title a[href$="/Tegami_Bachi_Reverse"]:before,
.data.title a[href$="/Persona_4_The_Animation"]:before,
.data.title a[href$="/Kaleido_Star"]:before,
.data.title a[href$="/Mahouka_Koukou_no_Rettousei"]:before,
.data.title a[href$="/Hunter_x_Hunter_(2011)"]:before,
.data.title a[href$="/Cross Game"]:before,
.data.title a[href$="/Higurashi no Naku Koro ni"]:before,
.data.title a[href$="/Higurashi no Naku Koro ni Kai"]:before,
.data.title a[href$="/Shinrei_Tantei_Yakumo"]:before,
.data.title a[href$="/Kiseijuu:_Sei_no_Kakuritsu"]:before, 
.data.title a[href$="/Jigoku_Shoujo"]:before, 
.data.title a[href$="/Jigoku_Shoujo_Futakomori"]:before, 
.data.title a[href$="/Jigoku_Shoujo_Mitsuganae"]:before,
.data.title a[href$="/Yamada-kun_to_7-nin_no_Majo_(TV)"]:before,
.data.title a[href$="/One_Piece"]:before,
.data.title a[href$="/Charlotte"]:before,
.data.title a[href$="/Ore_Monogatari!!"]:before,
.data.title a[href$="/Prison_School"]:before,
.data.title a[href$="/Ajin"]:before,
.data.title a[href$="/Black_Jack"]:before {
	display: inline-block; 
	content: '';
	width: 16px; 
	height: 12px; 
	background-image: url(http://i.imgur.com/jo5piZZ.png); 
	background-repeat: no-repeat;
	background-position: left center;
}